# ============================
#  Moobian Build Artifacts
# ============================
chroot/
binary/
cache/
config/binary
config/bootstrap
config/common
config/source
config/chroot
binary.modified_timestamps
chroot.files
chroot.packages.install
chroot.packages.live
# Live-build temporary files
live-build*

*.buildlog
.build/
# ISO output
*.iso
live-image*
# ============================
#  Logs
# ============================
*.log

# ============================
#  System files
# ============================
.DS_Store
Thumbs.db

# ============================
#  Editor / IDE files
# ============================
.vscode/
.idea/
*.swp
*.swo

# ============================
#  Python virtualenv (if used)
# ============================
venv/
__pycache__/

# ============================
#  Node (if used for docs)
# ============================
node_modules/

#=============================
#  build with apt cahce script
#=============================
build/full_build_cache.sh

#=============================
#  os release and calamares branding, since they will be generated during the build process.
#=============================
config/includes.chroot/etc/calamares/branding/default/branding.desc
config/includes.chroot/etc/os-release


# Ignore all symbolic links

**/*@
