# Loads dependencies
insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png

terminal_output gfxterm

set color_normal=white/black
set color_highlight=yellow/blue


# Sets sources
source /boot/grub/config.cfg
source /boot/grub/theme.cfg



# Live boot
menuentry "Moobian Live Installer" --hotkey=l {
	linux	/live/vmlinuz* boot=live components quiet splash findiso=${iso_path}
	initrd	/live/initrd.img*
}
menuentry "Moobian Live Insatller (safe mode)" {
	linux	/live/vmlinuz* boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	/live/initrd.img*
}

